importFrom("Biobase", "addVigs2WinMenu")
importFrom("interactiveDisplay", "display")
importFrom("BiocInstaller", "biocVersion")
import("R.utils")
import("biocViews")
import("rpx")

export(getPXD000001mzXML,
       getPXD000001mzTab,
       getPXD000001mzData,
       getThermoHelaPRTC,
       downloadData,
       RforProteomics,
       proteomicsPackages,
       massSpectrometryPackages,
       massSpectrometryDataPackages,
       display)

