import("biocViews")
import("rpx")
import("shiny")
import("MSnbase")

importFrom("Biobase", "addVigs2WinMenu")
importFrom("BiocInstaller", "biocVersion")
importFrom("R.utils", "gunzip")
importFrom("utils", "data", "download.file", "vignette")
importFrom("interactiveDisplay", "display") 
importFrom("graphics", "abline", "par", "points", "grid", "lines")
importFrom("DT", "datatable")
importFrom("AnnotationDbi", "select")

export(getPXD000001mzXML,
       getPXD000001mzTab,
       getPXD000001mzData,
       getThermoHelaPRTC,
       downloadData,
       RforProteomics,
       RProtVis, RProtViz,
       proteomicsPackages,
       massSpectrometryPackages,
       massSpectrometryDataPackages,
       display,
       shinyMA)

S3method(print,ions)
export(analyse)
export(analyze)
export(detect)
export(new_ions)
export(spectrum)
